root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.sh]
indent_style = tab

[Makefile]
indent_style = tab

[org.claws_mail.Claws-Mail.appdata.xml]
indent_style = space
indent_size = 2
insert_final_newline = false

[org.claws_mail.Claws-Mail.json]
indent_style = space
indent_size = 2
insert_final_newline = false
